@charset "UTF-8";

@media screen and (min-width: 769px) {

    @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

    /*Configurações Gerais da Página*/

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html {
        width: 100vw;
        height: 100vh;
        font-size: 62.5%;
        color: #ffffff;
        font-family: 'Lato', sans-serif;
    }

    body {
        background: url(../imagens/pexels-kampus-production-6540704.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    /*Cabeçalho*/

    header {
        width: 100%;
        height: 10vh;
        background: linear-gradient(90deg, rgb(61,61,61), rgba(61, 61, 61, 0.5));
    }

    .menu-content {
        text-transform: uppercase;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 1.8rem;
    }

    .header-h1 {
        font-size: 1.4em;
        letter-spacing: 0.2em;
        cursor: pointer;
        margin-top: 0.1em;
        margin-bottom: 0.1em;
    }

    .menu-content .list-items {
        display: flex;
        list-style: none;
        gap: 10px;
        font-size: 0.7em;
    }

    .menu-content .list-items a{
        text-decoration: none;
        color: #ffffff;
        padding: 1.5rem;
        transform: 2ms ease-in;
        position: relative;
    }

    .menu-content .list-items a:before{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 0.3em;
        background-color: rgba(218, 73, 23, 255);
        transition: all 1.5s ease;
    }

    .menu-content .list-items a:hover:before{
        width: 100%;
        padding: 0;
        margin: 0;
    }

    /*Conteúdo Central*/

    main {
        height: 93vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(rgba(17, 17, 17, 0.402), rgba(20, 20, 20, 0.163));
    }

    .main-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .main-content img {
        height: 90vh;
        width: 45vw;
    }
    
    /*Rodapé*/

    footer {
        height: 5vh;
        display: flex;
        background: linear-gradient(90deg, rgb(61,61,61), rgba(61, 61, 61, 0.5));
        align-items: left;
        padding: 0.3em;
        font-size: 1.8em;
    }
    
    footer a {
        color: #ffffff;
        text-decoration: none;
    }
    
    footer a:hover {
        text-decoration: underline;
    }
    
}